<form method="post" action="{{ path('app_back_platform_delete', {'id': platform.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ platform.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ platform.id) }}">
    <button class="btn p-0 m-0"><i class="material-icons btn-lg opacity-10">delete</i></button>
</form>
