<form method="post" action="{{ path('app_back_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ user.gamerTag }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn p-0 m-0"><i class="material-icons btn-lg opacity-10">delete</i></button>
</form>
