<form method="post" action="{{ path('app_back_music_delete', {'id': music.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer {{ music.name }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music.id) }}">
    <button class="btn p-0 m-0"><i class="material-icons btn-lg opacity-10">delete</i></button>
</form>
