{% extends 'front/base_front.html.twig' %}
{% block title %}Données personnelles{% endblock %}
{% block body %}
    </header>
    <main>
        <section class="contact">
            <h2>Données personnelles</h2>
            <p>
                Nous vous demandons de bien vouloir lire attentivement le reglement ci-dessous sur le nouveau règlement sur le respect de la vie privée, qui s'applique sur l'ensemble du site Soundtrackify.fr. Si vous acceptez de créer un compte, vous acceptez que nous traitions vos coordonnées de la manière présentée dans ce règlement. Ce règlement vous informe comment nous traitons les données que nous collectons et comment nous les utilisons. Nous vous précisons que toutes les informations que vous nous confiez ne serons ni vendues, ni louées à but publicitaires sans votre approbation. 
            </p>
            <h3>1. Règlement sur le respect de la vie privée :</h3>
            <p>
                Nous vous informons que ce règlement peut changer à tout moment. Ce nouveau règlement sera evidement publié sur notre site, sauf si nous avons des motifs legaux pour ne pas le faire. Nous publierons cette notification dans votre compte et vous en informerons 30 jours à l'avance de la date en vigueur par email. A compter de cette date d'entrée en vigueur, nous estimerons que vous êtes d'accord sur l'ensemble des modifications. En cas de desaccord avec une règle, nous pouvons ou vous pouvez fermer votre compte quand vous le souhaitez ou simplement ne pas créer de compte sur Soundtrackify.fr.
            </p>
            <h3>2. Sites tiers :</h3>
            <p>
                Nous ne sommes pas responsables des sites qui ont un lien avec le site Soundtrackify.fr car ils ont leur propre règlement et c'est à vous de le consulter et de l'approuver
            </p>
            <h3>3. Remarque spéciale concernant les mineurs :</h3>
            <p>
                La majorité numérique, c'est-à-dire l'âge à partir duquel un mineur peut s'inscrire sur les réseaux sociaux et donner son consentement au traitement de ses données personnelles sans l'autorisation de ses parents, a été fixée à 15 ans par l'Assemblée.Les mineurs ne peuvent pas créer de compte client Soundtrackify. Nous demanderons à la création du compte la date de naissance du client. Nous ne seront pas responsables si la personne ment sur son age afin de créer un compte sur le site Soundtrackify.fr.
            </p>
            <h3>4. Informations collecté :</h3>
            <h3>Informations requises :</h3>
            <p>
                Pour ouvrir un compte client sur Soundtrackify, vous devez nous communiquer votre gamerTag et votre  adresse email.
            </p>
            <h3>Informations provenant de tiers :</h3>
            <p>
                Nous procédons aux vérifications des informations que vous donnez auprès des sociétés de lutte contre la fraude afin de proteger tous nos clients. Lors de ces vérifications, nous recevrons des informations personnelles vous concernant.
            </p>
            <h3>5. Vérifications supplémentaires :</h3>
            <p>
                A tout moment, nous pouvons vous demander des informations supplémentaires par email.
            </p>
            <h3>6. Informations sur le trafic du site :</h3>
            <p>
                Nous vous informons que lorsque vous vous connectez sur notre site, nous recevons des informations sur votre adresse IP, le type de navigateur utilisé et les heures de connections sur notre site.
            </p>
            <h3>7. Cookies, balises Web et technologies similaires :</h3>
            <p>
                Lorsque vous vous connectez sur notre site, nous plaçons des fichiers sur votre ordinateur. Ces fichiers peuvent être des cookies, des balises pixel...
            </p>
            <h3>8. Communications :</h3>
            <p>
                Lorsque vous communiquez avec nous dans le cadre du service clientèle ou à d’autres fins, nous pouvons être amenés à conserver les dites informations ainsi que nos réponses dans les archives de votre compte, dans l’objectif d’avoir un historique de conversations pour toujours plus de réactivité et améliorer la qualité de nos services.
            </p>
            <h3>9. Jeux, questionnaires, sondages, concours :</h3>
            <p>
                Nous vous informons que certaines informations seront stockées chez nous si vous nous solicités par email. Si nous vous contactons par email pour les besoins du concours, nous stockons des informations afin d'améliorer notre site Soundtrackify.fr et vous en serez informés.
            </p>
            <h3>10. Traitement des données des prospects Soundtrackify :</h3>
            <p>
                Vous pouvez vous inscrire, nous conservons alors vos informations personnelles dans l'éventualité qu'un jour vouspuissiez devenir un client potentiel.
            </p>      
            <h3>11. Recrutement et candidatures</h3>
            <p>
                Toutes les informations que vous nous données sont stockées informatiquement. Afin de gerer les comptes de nos inscrits. Nous les conservons jusqu'à ce que la personne emmet le désir d'annuler son compte. Toute personne inscrite sur le site Soundtrackify.fr a un droit d'acces, de modification, et d'arret de son compte. Il peut également s'opposer à la divulgation de ses informations personnelles par courrier a Soundtrackify, 7bis chemin du plan, 06730 St andré de la roche.
            </p>
            <h3>12. Partage d'informations avec un tier</h3>
            <p>
                Soundtrackify travaille avec des prestataires de services tiers. Nous devons parfois partager des données utilisateur avec eux afin qu’ils puissent nous fournir leurs services.
            </p>
            <h3>13. Sécurité de l’information</h3>
            <p>
                Nous nous engageons à traiter vos informations personnelles dans la plus stricte sécurité. Il n'y a que le personnel du site Soundtrackify qui peut y avoir accees et ne vous demanderons jamais votre mot de passe. Au moindre doute, nous vous conseillons de changer de mot de passe.
                Nous vous signalons que vous pouvez clore votre compte a tout moment mais nous serons dans l'obligation, pour la comptabilité de notre société, de garder certaines informations.
            </p>
            <p>
                En vous inscrivant sur notre site, vous acceptez le reglement ci-dessous sur le respect de la vie privé et vous nous donnez l'autorisation d'utiliser vos informations personnelles suivant le présent document.
            </p>
        </section>     
    </main>
{% endblock %}
{% block scrollup %}
    <a href="#header">
        <img src="{{ asset('img/scroll-up.png') }}" alt="scroll up btn" class="scroll-up" width="40px" height="40px">
    </a>
{% endblock %}